@import '../../styles/includes';

#navbar-menu {
    height: map-get($sizing, 'w-40');
    background-color: $lightblue;
    color: $white;
    @include row;

    .navbar-menu__item {
        margin-inline: map-get($sizing, 'w-14');
        text-transform: uppercase;
    }
}
